* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #0837B0 0%, #021E66 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper {
  width: 300px;
  margin: auto;
}

.block {
  width: 300px;
  height: 300px;
  background: #FFFFFF;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.counter {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  line-height: 176px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 65px;
  text-align: center;
}

.button {
  display: flex;
  margin-top: 34px;
  justify-content: space-around;
  align-items: center;
}

.download {
  display: flex;
  margin-top: 34px;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
}

.btn {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 4px
}

#inc {
  background: url("./image/Plus.svg") no-repeat center;
  background-position-x: 90%;
  background-position-y: 80%;
  background-color: #089C20;
}

#dec {
  background: url("./image/Minus.svg") no-repeat center;
  background-position-x: 90%;
  background-position-y: 60%;
  background-color: #E7AA10;
}

#res {
  background: url("./image/Reset.svg") no-repeat center;
  background-position-x: 90%;
  background-position-y: 70%;
  background-color: #CF1C1C;
}

#dow {
  background: url("./image/Download\ Icon.svg") no-repeat center;
  background-position-x: 70%;
  background-color: #30D9CF;
}

#up {
  background: url("./image/Upload\ Icon.svg") no-repeat center;
  background-position-x: 70%;
  background-color: #9B0F9E;
}